html,
body {
    background-color: #FAFAFA;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.center-login {
    align-self: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 20%;
    width: fit-content;
}

.errors {
    color: red;
}

.success {
    color: green;
}

.content {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    padding: 15px;
}

.content-admin {
    padding: 20px;
    margin-top: 5%;
    box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.20);
}

.line {
    color: red;
}

.line-break {
    word-wrap: break-word;
}

.grid-view {
    margin-left: 5%;
    box-shadow: 0px 0px 36px 15px rgba(0, 0, 0, 0.20);
    margin-top: 2%;
    width: 50%;
}

.row-white {
    background-color: white;
}

a {
    color: #636b6f; 
    text-decoration: none;
}

.form {
    display: inline-block;
}

.top-space {
    margin-top: 5%;
}

.rate_widget {
    overflow: visible;
    padding: 10px;
    position: relative;
    width: 180px;
    height: 32px;
}

.ratings_stars {
    background: url('/images/star_empty.png') no-repeat;
    float: left;
    height: 28px;
    padding: 2px;
    width: 30px;
}

.ratings_vote {
    background: url('/images/star_full.png') no-repeat;
}

.ratings_over {
    background: url('/images/star_highlight.png') no-repeat;
}

.total_votes {
    background: #eaeaea;
    top: 40px;
    left: 0;
    padding: 5px;
    position: absolute;
}

.rating {
    font: 10px verdana, sans-serif;
    margin: 0 auto 40px auto;
    width: 180px;
}
